.home {
    min-height: 90vh;
    width: 100%;
    position: relative;
}

.videoContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-capa);
    opacity: 0.5;
    mix-blend-mode: overlay;
}